# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env*

# DB・アップロード・ベクトルDB
backend/recipes.db
backend/uploads/
backend/chroma_data/

# Node.js
node_modules/
dist/
.npm
*.log

# エディタ・開発ツール (IDE)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS固有ファイル
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
